@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	--radius: 0.625rem;
	--background: oklch(0.98 0 0);
	--foreground: oklch(0.09 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.09 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.09 0 0);
	--primary: oklch(0.09 0 0);
	--primary-foreground: oklch(0.98 0 0);
	--secondary: oklch(0.96 0 0);
	--secondary-foreground: oklch(0.09 0 0);
	--muted: oklch(0.96 0 0);
	--muted-foreground: oklch(0.45 0 0);
	--accent: oklch(0.96 0 0);
	--accent-foreground: oklch(0.09 0 0);
	--destructive: oklch(0.6 0.84 0);
	--destructive-foreground: oklch(0.98 0 0);
	--border: oklch(0.89 0 0);
	--input: oklch(0.89 0 0);
	--ring: oklch(0.09 0 0);
}

.dark {
	--background: oklch(0.05 0 0);
	--foreground: oklch(0.98 0 0);
	--card: oklch(0.09 0 0);
	--card-foreground: oklch(0.98 0 0);
	--popover: oklch(0.09 0 0);
	--popover-foreground: oklch(0.98 0 0);
	--primary: oklch(0.98 0 0);
	--primary-foreground: oklch(0.09 0 0);
	--secondary: oklch(0.15 0 0);
	--secondary-foreground: oklch(0.98 0 0);
	--muted: oklch(0.15 0 0);
	--muted-foreground: oklch(0.65 0 0);
	--accent: oklch(0.15 0 0);
	--accent-foreground: oklch(0.98 0 0);
	--destructive: oklch(0.31 0.63 0);
	--destructive-foreground: oklch(0.98 0 0);
	--border: oklch(0.15 0 0);
	--input: oklch(0.15 0 0);
	--ring: oklch(0.83 0 0);
}

@layer base {
	* {
		border-color: var(--border);
		outline-color: var(--ring);
	}
	body {
		background-color: var(--background);
		color: var(--foreground);
		font-feature-settings: "rlig" 1, "calt" 1;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 500;
		line-height: 1.1;
	}
}
